.plans-mobile-card {
  transition: background-color 0.2s ease;
}

.plans-mobile-card:hover {
  background-color: rgb(253, 224, 224);
}

.plans-mobile-plan-author {
  border-radius: 9999px;
  overflow: hidden;
  height: 36px;
  min-width: 36px;
}

.plans-mobile-plan-author img {
  width: 36px;
  height: 36px;
}

.plans-mobile-plan-author > div {
  width: 36px;
  height: 36px;
  margin-right: 0;
}

.plans-mobile-card {
  border-bottom: 1px solid rgb(219, 199, 199);
}

.plans-mobile-card button {
  min-height: 28px;
}

.mobile-plan-card-link {
  margin-left: -5px;
  padding: 5px 0px 5px 5px;
  z-index: 1;
}

.mobile-plan-card-link:hover {
  font-weight: 900;
}

.ws-pw {
  white-space: pre-wrap;
}
