.modal-content-mobile {
  width: 100%;
  min-height: 20%;
  max-height: 80%;
  overflow-y: auto;
  position: fixed;
  bottom: -2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.mobile-modal-header {
  width: 100%;
  text-align: center;
  padding: 15px 0 10px;
  border-bottom: 1px solid rgb(233, 219, 219);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.pb-30 {
  padding-bottom: 30px;
}
