.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content,
.modal-content-mobile {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
