.modal-content-container {
  min-height: 95vh;
  padding: 50px 0 100px;
  box-sizing: border-box;
}

.modal-content {
  min-width: 224px;
  position: relative;
  border: 1px solid #c29292;
  border-radius: 4px;
}

.modal-header {
  border-bottom: 1px solid silver;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-content h2 {
  font-weight: 500;
  font-size: 14px;
}

.close-modal-btn {
  display: flex;
  position: absolute;
  top: 7.5px;
  right: 8px;
  padding: 3px;
  cursor: pointer;
}

.close-modal-btn i {
  font-size: 22px;
}

.pb-10 {
  padding-bottom: 10px;
}
