/* NAV */

.edit-week-web-nav {
  position: relative;
  margin-top: -36px;
}

.edit-week-nav-week-btn {
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #1a1414;
}

.edit-week-nav-week-btn:hover {
  color: #a60000;
}

.edit-week-nav-filler {
  width: 26px;
}

.edit-week-web-week-dropdown-container {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  max-height: 500px;
  overflow-y: auto;
}

.edit-week-web-week-dropdown-item {
  padding: 5px 10px;
  min-width: 100p;

  transition: background-color 0.2s ease;
}

.edit-week-web-week-dropdown-item:hover {
  background-color: rgb(250, 233, 233);
}

/* OVERVIEW */

/* DAY CONTENT */
.edit-week-add-days-container {
  display: flex;
  width: 100%;
}

.edit-week-add-days-container button {
  padding: 10px 0;
  width: 100%;
  color: #866565;
  border-bottom: 0.5px solid rgb(233, 220, 220);
  font-size: 11px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.edit-week-add-days-container button:hover {
  color: #a60000;
  background-color: #a6000010;
}

.edit-week-add-days-container .edit-week-day-active {
  color: #a60000;
  border-bottom: 1.5px solid #a60000;
}

.edit-week-add-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px 15px;
  margin-top: 10px;
  color: rgb(180, 156, 156);
}

.edit-week-add-header span {
  margin: 0 8px;
  font-size: 12px;
}

/* EXERCISE CARD */
.edit-week-add-muscle-group-container {
  margin: 20px 0 0;
}

.edit-week-add-card {
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
}

.edit-week-exercise-name {
  font-size: 15px;
}

.edit-week-add-card form {
  display: flex;
}

.edit-week-add-card form input {
  margin: 0 5px;
  width: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid transparent;
  border-bottom: 1px solid #a60000;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}

.edit-week-add-card form input:focus {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #a60000;
}

.edit-week-add-card button {
  color: transparent;
  position: absolute;
  padding: 3px;
  margin-top: -3px;
}

.edit-week-add-card button i {
  font-size: 19px;
}

.edit-week-add-card:hover button {
  color: gray;
}

/* EXERCISE SIDE */

.edit-week-web-reps-wrapper {
  flex: 0.5 50%;
  justify-content: flex-end;
}
