.explore-mobile-search-container {
  width: 100%;
  background-color: white;
  height: 4.5vh;
  border-radius: 99px;
  position: relative;
}

.explore-mobile-search-container input {
  width: calc(90% - 18px - 10px - 10px);
  padding: 0 20px;
  font-size: 15px;
}

.explore-mobile-search-container svg {
  position: absolute;
  right: 12px;
}

.explore-mobile-cards-container {
  padding-top: 52px;
}
