.mobile-empty-container {
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  width: 100vw;
  justify-content: space-between;
  padding: 10% 0 15%;
  box-sizing: border-box;
}

.mobile-empty-container button:first-child,
.mobile-empty-container a:first-child {
  margin-bottom: 20px;
}

.mobile-empty-container i {
  color: #a60000;
}

.mobile-empty-container span {
  margin-top: 5px;
  font-size: 14px;
}
