table {
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: center;
}

tr {
  background-color: rgb(248, 248, 248);
}

th {
  height: 30px;

  font-size: 14px;
  font-weight: 500;
  color: white;

  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: #a60000; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.075);
}

/* th:first-child {
  border-top-left-radius: 9px;
}

th:last-child {
  border-top-right-radius: 9px;
} */
.plan-table {
  width: 60%;
}

.plan-table td {
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 15px;
  border: 1px solid silver;
}

.plan-table tbody:before {
  content: "@";
  display: block;
  line-height: 0px;
  text-indent: -99999px;
}

.plan-table tbody:first-child {
  border-top: 1px solid black;
}

.plan-day-cell {
  width: 1%;
  white-space: nowrap;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.plan-day-cell p {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin: 0;
}

.plan-exercise-cell {
  font-weight: 500;
  width: 11%;
  white-space: nowrap;
  border-right: 1px solid silver;
}
