.theme-btn,
.theme-btn-filled,
.theme-btn-no-border,
.gray-btn {
  border-radius: 9999px;
  transition: background-color 0.2s, color 0.2s;
}

.tc {
  color: #a60000;
}

.theme-btn,
.theme-btn-no-border {
  color: #a60000;
}

.theme-btn:disabled,
.theme-btn-no-border:disabled,
.theme-btn[aria-disabled="true"],
.theme-btn-no-border[aria-disabled="true"] {
  pointer-events: none;
  color: #a6000046;
}

.theme-btn:hover,
.theme-btn:focus {
  background-color: #faefef;
}

.theme-btn-filled:hover,
.theme-btn-no-border:hover,
.theme-btn-filled:focus,
.theme-btn-no-border:focus {
  background-color: #a6000010;
}

.theme-btn {
  background-color: white;
  border: 1px solid #a60000;
}

.theme-btn-filled {
  color: white;
  background-color: #a60000;
  border: 1px solid #a60000;
}

.theme-btn-filled:disabled {
  color: white;
  background-color: #f98e8e;
  border: 1px solid #f98e8e;
}

.theme-btn-filled:disabled:hover {
  background-color: #f98e8e;
}

.theme-btn-filled:hover,
.theme-btn-filled:focus {
  background-color: #890000;
}

.gray-btn {
  color: gray;
}

.gray-btn:hover {
  background-color: rgb(228, 228, 228);
}

.delete-color i {
  color: #e0245ed8 !important;
}
.delete-color span {
  color: #e0245e !important;
}

.reversed-icon {
  transform: rotate(0.5turn);
}

/* SVGs */
.trash-bin-min {
  color: rgb(224, 36, 94);
  height: 1.25em;
  max-width: 100%;
  position: relative;
  fill: currentColor;
}

.material-icons-22 {
  font-size: 22px;
}
.material-icons-30 {
  font-size: 30px;
}

/* FONT */
.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-28 {
  font-size: 28px;
  line-height: 20px;
}

.theme-faded {
  color: rgb(153, 108, 108);
}

/* CUSTOM CHECKBOX */
.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkmark-radio,
.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(236, 226, 226);
  border-radius: 3px;
}

.custom-checkmark-radio {
  border-radius: 50%;
}

.custom-checkbox-container:hover input ~ .custom-checkmark,
.custom-checkbox-container:hover input ~ .custom-checkmark-radio {
  background-color: rgb(199, 176, 176);
}

.custom-checkbox-container input:checked ~ .custom-checkmark,
.custom-checkbox-container input:checked ~ .custom-checkmark-radio {
  background-color: #a60000;
}

.custom-checkmark:after,
.custom-checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-container input:checked ~ .custom-checkmark:after,
.custom-checkbox-container input:checked ~ .custom-checkmark-radio:after {
  display: block;
}

.custom-checkbox-container .custom-checkmark:after {
  left: 6px;
  top: 3px;
  width: 4.5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-checkbox-container .custom-checkmark-radio:after {
  left: 6.5px;
  top: 6.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}

.border-with-sides {
  width: calc(100% - 2px);
  height: 3px;
  border: 1px solid rgb(192, 169, 169);
  border-top: 0;
}

.white-btn {
  color: white;
  display: flex;
}
.white-material-btn i {
  color: #fff;
}

.plus-container,
.minus-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  justify-content: center;
}

.minus-container > div {
  width: 100%;
  height: 2px;
  background-color: #a60000;
}

.plus-container div:first-child {
  width: 100%;
  height: 2px;
  background-color: #a60000;
  position: absolute;
}

.plus-container div:last-child {
  height: 100%;
  width: 2.1px;
  background-color: #a60000;
  margin-top: -1px;
}

.material-icons,
.material-icons-round,
.material-icons-outlined {
  color: inherit;
}

.mobile-calendar-container {
  height: 100vh;
  position: fixed;
  top: 7vh;
  width: 100%;
}

.flex-ai-center {
  display: flex;
  align-items: center;
}

.flex-col-cen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-space-bw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stretch {
  align-items: stretch;
}

.margin-5 {
  margin: 5px;
}

.margin-a {
  margin: 0 auto;
}

.margin-5-a {
  margin: 5px auto;
}

.margin-0-0-20 {
  margin: 0 0 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.margin-15 {
  margin: 15px;
}

.margin-10-0 {
  margin: 10px 0;
}

.width-80p {
  width: 80%;
}

.width-90p {
  width: 90%;
}

.width-100p {
  width: 100%;
}

.width-90p-20px {
  width: calc(90% - 20px);
}

.width-100p-20px {
  width: calc(100% - 20px);
}

.padding-s-10 {
  padding: 0 10px;
}

.padding-0-5 {
  padding: 0 5px;
}

.padding-5 {
  padding: 5px;
}

.padding-0 {
  padding: 0;
}

.padding-0-14 {
  padding: 0 14px;
}

.padding-10 {
  padding: 10px;
}

.padding-10-0 {
  padding: 10px 0;
}

.padding-10-15 {
  padding: 10px 15px;
}

.padding-4-12 {
  padding: 4px 12px;
}

.pt-10 {
  padding-top: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-15-0 {
  padding: 15px 0;
}

.border-box {
  box-sizing: border-box;
}

.fw-bc-theme:focus-within .border-with-sides {
  border-color: #a60000;
}

.black {
  color: #1a1414;
}

.min-h-93vh-10 {
  min-height: calc(93vh - 10px);
}

.flex-1-50p {
  flex: 1 50%;
}

.max-width-600 {
  max-width: 600px;
}

.color-white {
  color: #fff;
}

.color-d9 {
  color: #d90000;
}
.bc-d9 {
  background-color: #d90000;
}
