.theme-btn,
.theme-btn-filled,
.theme-btn-no-border,
.gray-btn {
  border-radius: 9999px;
  transition: background-color 0.2s, color 0.2s;
}

.theme-btn {
  color: #a60000;
  background-color: white;

  border: 1px solid #a60000;
}

.theme-btn:hover,
.theme-btn:focus {
  background-color: #faefef;
}

.theme-btn-no-border {
  color: #a60000;
}

.theme-btn-filled:hover,
.theme-btn-no-border:hover,
.theme-btn-filled:focus,
.theme-btn-no-border:focus {
  background-color: #a6000010;
}

.theme-btn-filled {
  color: white;
  background-color: #a60000;

  border: 1px solid #a60000;
}

.theme-btn-filled:hover,
.theme-btn-filled:focus {
  background-color: #890000;
}

.gray-btn {
  color: gray;
}

.gray-btn:hover {
  background-color: rgb(228, 228, 228);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.delete-color i {
  color: #e0245ed8 !important;
}
.delete-color span {
  color: #e0245e !important;
}

.reversed-icon {
  transform: rotate(0.5turn);
}

/* SVGs */
.trash-bin-min {
  color: rgb(224, 36, 94);
  height: 1.25em;
  max-width: 100%;
  position: relative;
  fill: currentColor;
  /* margin-right: 12px; */
}

.material-icons-22 {
  font-size: 22px;
}
.material-icons-30 {
  font-size: 30px;
}

.font-16 {
  font-size: 16px;
}

/* CUSTOM CHECKBOX */
.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 4px;
}

.custom-checkbox-container:hover input ~ .custom-checkmark {
  background-color: #ccc;
}

.custom-checkbox-container input:checked ~ .custom-checkmark {
  background-color: #a60000;
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-container input:checked ~ .custom-checkmark:after {
  display: block;
}

.custom-checkbox-container .custom-checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
