.history-add-card {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 3.5px 7px 0 rgba(60, 66, 87, 0.12),
    0 1.5px 3px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: opacity 0.1s ease;
  width: 100%;
  font-weight: 300 !important;
}

.exercise-card-container {
  max-width: 380px;
  min-width: 250px;
  width: 100%;
}

.history-exercise-name {
  padding: 2px 6px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a60000;
  min-height: 34px;
  transition: background-color 0.3s ease;
}

.add-card-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-card-btn-container button {
  margin: 0 2px;
  width: 26px;
  height: 26px;
}

.add-card-body {
  padding: 4px 0;
}

.exercise-card-pending {
  opacity: 0.5;
  pointer-events: none;
}

.exercise-card-rejected {
  background-color: rgb(255, 215, 215) !important;
  pointer-events: none;
}

.exercise-card-rejected-container button {
  pointer-events: all;
  color: #a60000;
  margin-left: 5px;
}

.edit-week-card-set-button-container {
  flex: 0.4 40%;
}

.edit-week-card-rep-index {
  flex: 0.1 10%;
  text-align: end;
}

.exercise-card-dragging {
  opacity: 0.75;
}

/* WEB */
.web-exercise-droppable-container {
  min-height: 80vh;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.web-exercise-container-dragging-over {
  background-color: rgba(155, 221, 169, 0.2);
  transition: background-color 0.3s ease;
}

/* MOBILE */

.mobile-droppable-container {
  max-height: calc(100vh - 50px);
  flex-direction: column;
  display: flex;
  padding: 50px 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
