.plans-table {
  margin: 30px auto;
  text-align: left;
  width: 40%;
  border-collapse: collapse;
}

.plans-table th {
  color: #a60000;
  border-bottom: 1px solid #a60000;
}

.plans-table tbody tr {
  cursor: pointer;
}

.plans-table td {
  color: rgba(0, 0, 0, 0.734);
}

.plans-table tbody tr:hover td {
  color: black;
}

/* MODAL */

/* Add plan */
.add-plan-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-plan-form div {
  display: flex;
  justify-content: space-between;
}

.add-plan-form input {
  width: 90%;
}

.add-plan-form textarea {
  resize: none;
  width: 90%;
  height: 70px;
  border-radius: 3px;
  font-family: inherit;
}

.add-plan-form button {
  margin-top: 10px;
  padding: 2px 8px;
}
