/* MODAL */

/* Plan filter */

.plans-filter-button {
  margin: 20px auto 5px;

  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
  color: gray;
}
.plans-filter-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.11);
  max-width: 60%;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.2s;
  margin: 0 auto;
}

.plans-filter-container-show {
  max-height: 455px;
  padding: 10px 0;
  border: 1px solid rgb(231, 219, 219);
}

.plans-filter-category-header {
  color: rgb(65, 51, 51);
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}

.plans-name-filter-container input,
.plans-author-filter-container input {
  width: 100px;
  background-color: inherit;
  border: 1px solid #f3e2e2;
  padding: 3px 5px 2px 5px;
  outline-color: #995454;
}

.plans-name-filter-container,
.plans-author-filter-container {
  margin-top: 13px;
}

.plans-length-filter-container {
  width: 200px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans-filter-length-bar {
  height: 2px;
  width: 80%;
  margin: 17px 0 15px;
}

.plans-filter-render-thumb {
  height: 13px;
  width: 13px;
  background-color: rgb(129, 58, 58);
  border-radius: 50%;
}

.plans-filter-length-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans-filter-length-seperator {
  height: 0.9px;
  width: 10px;
  margin: 0 10px;
  background-color: rgb(201, 160, 160);
}

.plans-filter-length-input-container input {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 0;
  outline: none;
  padding: 0;
}

.plans-filter-length-input-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  border: 1px solid rgb(240, 227, 227);
  background-color: #fff;
  border-radius: 3px;
}

.plans-filter-length-input-wrapper span {
  line-height: 20px;
}

.plans-filter-length-input-container i {
  font-size: 18px;
}

.plans-goal-filter-container {
  display: flex;
  flex-direction: column;
}

.plans-goal-filter-container h6 {
  margin: 0 0 5px 0;
}

.plans-goal-filter-container label {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: rgb(99, 89, 89);
}

/* Plan card */

.plans-cards-header,
.plans-plan-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  border-radius: 3px;
  padding: 12px 20px;
  font-size: 14px;
}

.plans-cards-header {
  font-weight: 500;
  color: #a60000;
}

.plans-plan-card {
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  cursor: pointer;
  transition: background-color 0.15s;
  color: rgb(94, 53, 53);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.11);
  margin: 0 auto 10px;
}

.plans-cards-header > div,
.plans-plan-card > div {
  flex: 1;
}

.plans-plan-card:hover {
  background-color: rgb(255, 236, 236);
}

.plans-plan-author {
  display: flex;
  align-items: center;
}

.plans-plan-author div {
  height: 26px;
  width: 26px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  overflow: hidden;
  border-radius: 50%;
  border: 1.5px solid #a60000;
  margin-right: 7px;
  position: relative;
}

.plans-plan-author img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.plans-cards-container .plans-plan-created,
.plans-cards-container .plans-cards-header-created {
  flex: 0.6;
}

/* Add plan */
.add-plan-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-plan-form div {
  display: flex;
  justify-content: space-between;
}

.add-plan-form input {
  width: 90%;
}

.add-plan-form textarea {
  resize: none;
  width: 90%;
  height: 70px;
  border-radius: 3px;
  font-family: inherit;
}

.add-plan-form button {
  margin-top: 10px;
  padding: 2px 8px;
}
