.explore-web-nav-container {
  height: 37px;
}

.explore-web-search-container {
  background-color: rgb(219, 210, 210);
  border: 1px solid rgb(240, 232, 232);
  width: 300px;
  height: 25px;
  padding: 2px 10px 2px 15px;
  border-radius: 99px;
  position: relative;
}

.explore-web-search-container:focus-within {
  background-color: #fff;
  border: 1px solid #a60000;
}

.explore-web-search-container input {
  width: calc(100% - 18px - 10px);
  font-size: 14px;
}

.explore-web-search-container svg {
  height: 15px;
}

.explore-web-search-container svg rect {
  fill: #6d6060;
}

.explore-web-search-container svg circle {
  stroke: #6d6060;
}

.explore-web-search-container:focus-within rect {
  fill: #a60000;
}

.explore-web-search-container:focus-within circle {
  stroke: #a60000;
}

.explore-web-category-container {
  display: flex;
  margin-top: 2px;
  padding-bottom: 0.5px;
}

.explore-web-category-container button {
  flex: 1 1;
  color: rgb(134, 101, 101);
  font-weight: 900;
  height: 45px;
  border-bottom: 1.5px solid transparent;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.explore-web-category-btn-active {
  color: #a60000 !important;
  border-color: #a60000 !important;
}

.explore-web-category-container button:hover {
  background-color: #a6000010;
  color: #a60000;
}

/* USER CARD */
.explore-web-profile-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.explore-web-user-card {
  width: 300px;
  display: flex;
  border: 1px solid rgb(243, 235, 235);
  background-color: white;
  margin: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  min-height: 80px;
  border-radius: 5px;
}

.explore-web-avatar-container {
  border-radius: 9999px;
  overflow: hidden;
  height: 36px;
  min-width: 36px;
  background-color: #f9eded;
}

.explore-web-avatar-container img {
  width: 36px;
  height: 36px;
}

.explore-web-avatar-container > div {
  width: 36px;
  height: 36px;
  margin-right: 0;
}
