/* IMAGE TEXT */
.landing-img-text-container {
  color: white;
}

.landing-img-text-item {
  margin-bottom: 40px;
}

.landing-img-text-item:last-child {
  margin: 0;
}

.landing-img-text-item i {
  margin-right: 20px;
}

.landing-signup-container {
  max-width: 380px;
}

.landing-icon-medium {
  color: #a60000;
  font-size: 38px;
}

/* SIGNUP CONTAINER */
.landing-signup-container h1 {
  font-size: 28px;
  margin: 20px 0 0 0;
  width: 300px;
}

.landing-signup-container h2 {
  margin: 59px 0 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  width: 300px;
}

.landing-upper-button {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  height: 35px;
  width: 100%;
}
