.landing-mobile-sign-x-form button {
  min-height: 46px;
  font-weight: bold;
}

.form-error-container {
  width: 206px;
  margin-bottom: 5px;
  padding: 4px 5px;

  color: #86181d;
  background-color: #ffdce0;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0px;

  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-error-clear-btn {
  color: rgb(172, 44, 65);
  padding: 0;
  display: flex;
}

.form-error-clear-btn:hover {
  color: rgb(123, 18, 18);
}

.form-error-clear {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

.error-input-icon {
  position: absolute;
  top: 19px;
  right: 10px;
  color: rgb(243, 55, 55);
}

.error-input-border {
  border-color: rgb(243, 55, 55);
}

.landing-signup-error {
  margin: 0;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 10px;
  color: rgb(140, 130, 130);
  width: 220px;
}

.landing-sign-x-form div {
  position: relative;
}

.sign-x-alert-message {
  position: absolute;
  top: -180px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: top 0.3s;
}

.sign-x-alert-show {
  top: -3px;
}

.sign-x-message {
  position: relative;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.sign-x-message p {
  color: gray;
  font-size: 13px;
}

.sign-x-error-close {
  position: absolute;
  top: 8px;
  right: 2px;
  line-height: 10px;

  color: rgb(148, 148, 148);

  font-size: 18px;
  font-weight: 600;
  font-family: serif;

  cursor: pointer;
}

.sign-x-error-close:hover {
  color: black;
}
