.exercise-muscle-group-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 13px;
}

.exercise-bs-show-filter-span {
  background-color: #a60000;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 4px;
}

.exercise-bs-show-filter-span:hover {
  font-weight: 500;
}

.exercise-muscle-group-button i {
  font-size: 13px;
  margin-right: 3px;
}

.exercise-muscle-checkbox-container {
  margin-top: 23px;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
  transition: max-height 0.2s;
  background-color: white;
  box-shadow: -3px 1px 4px 1px rgba(0, 0, 0, 0.19);
  position: absolute;
}

.exercise-muscle-checkbox-container-show {
  max-height: 200px;
}

.exercise-muscle-group-filter-wrapper {
  display: flex;
  flex-flow: row wrap;
  color: gray;
  width: calc(100% - 20px);
  margin: 10px;
}

.exercise-muscle-group-filter-wrapper > label {
  flex: 1 34%;
}
