/* ADD EXERCISE MODAL */
.custom-select-upwards {
  position: relative;
  border-bottom: 1px solid rgb(192, 169, 169);
}

.select-triangle {
  position: absolute;
  bottom: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #a60000;
  transform: rotate(135deg);
}

.exercises-add-modal-label {
  border-bottom: 1.2px solid #a60000;
}

.exercises-mobile-category-items-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(224, 217, 217);
  z-index: 1;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
