/* ADD EXERCISE MODAL */
.custom-select-upwards {
  position: relative;
  border-bottom: 1px solid rgb(192, 169, 169);
  cursor: pointer;
  margin: 10px 0 5px 5%;
  width: 80%;
}

.select-triangle {
  position: absolute;
  bottom: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #a60000;
  transform: rotate(135deg);
}

.exercises-add-modal-label {
  border-bottom: 1.2px solid #a60000;
}

.exercises-mobile-category-items-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(224, 217, 217);
  z-index: 1;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  max-height: 170px;
}

.exercises-rejected-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-exercise-form-container {
  min-width: 300px;
  max-width: 400px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* ERROR PROMPT */
.error-prompt-container {
  position: fixed;
  top: 10%;
  left: calc(50% - 150px);
  width: 300px;
  padding: 5px 10px;
  background-color: rgb(245, 223, 223);
  border-radius: 6px;
  color: rgb(156, 11, 11);
  border: 1px solid #e7b6b6;
}

.error-prompt-container span {
  font-weight: 300;
  font-size: 15px;
}

.error-prompt-close-btn {
  color: rgb(165, 86, 86);
  border-radius: 50%;
  padding: 3px;
  transition: background-color 0.2s;
}

.error-prompt-close-btn:hover {
  background-color: rgb(230, 202, 202);
}

.error-prompt-close-btn i {
  font-size: 18px;
}

.add-exercise-add-category-btn {
  position: absolute;
  top: 0;
  right: -40px;
}

.add-category-color-assigned-p {
  margin: 7px 0 17px;
  height: 19px;
}

.add-category-name-input-box {
  width: 292px;
  margin: auto;
}
