.create-plan-container h2 {
  margin: calc(3.5vh - 12px) calc(50vw - 50px);
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  position: fixed;
  top: 0;
  z-index: 99999;
  box-sizing: border-box;
}

.create-plan-form {
  max-width: 500px;
  margin: auto;
}

.create-plan-radio-container {
  display: flex;
  justify-content: space-around;
}
