.create-plan-container h2 {
  margin: calc(3.5vh - 12px) calc(50vw - 50px);
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  position: fixed;
  top: 0;
  z-index: 99999;
  box-sizing: border-box;
}

.create-plan-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-plan-name-input-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 7%;
  width: 70%;
}

.create-plan-name-input {
  background-color: transparent;
  text-align: center;
  border: 0;
  border-bottom: 1px solid rgb(187, 160, 160);
  outline: none;
  font-size: 24px;
  width: 100%;
  color: rgb(88, 72, 72);
  border-radius: 0;
}

.create-plan-name-input:focus {
  border-bottom: 1px solid #a60000;
}

.create-plan-name-input-wrapper:focus-within > i {
  display: none;
}

.create-plan-name-input-wrapper > i {
  position: absolute;
  right: 0;
  top: 6px;
  color: #d90000;
}

.create-plan-form textarea {
  width: 69%;
  height: 20vh;
  border: 1px solid silver;
  background-color: transparent;
  outline: none;
  padding: 4px 8px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 2px;
}

.create-plan-form textarea:focus {
  border: 1px solid #a60000;
}

.create-plan-check-container {
  display: flex;
  margin-top: 40px;
  width: 70%;
  justify-content: space-between;
}

.create-plan-check-container > div {
  display: flex;
  flex-direction: column;
}

.create-plan-check-container h6 {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  color: rgb(63, 56, 56);
}

.create-plan-check-container label {
  color: rgb(70, 60, 60);
  font-weight: 300;
}

.create-plan-form button {
  width: 100%;
  height: 50px;
  border-radius: 0px;
  position: fixed;
  bottom: 0;
  font-size: 15px;
}
