.nav-mobile-action-menu-item {
  padding: 14px;
  font-size: 15px;
  display: flex;
  width: calc(100vw - 28px);
  align-items: center;
  color: rgb(61, 44, 44);
  font-weight: 300;
}

.nav-mobile-action-menu-item i {
  color: rgb(136, 118, 118);
  margin-right: 9px;
  font-size: 20px;
}

.delete-color-mobile * {
  color: #e0245e !important;
}

.modal-mobile-cancel-large {
  background-color: rgb(228, 226, 226);
  border-radius: 999px;
  width: 100%;
  margin: 5px 0 10px;
  min-height: 40px;
}
