.DateInput_input__focused {
  border-bottom-color: #a60000;
}

.CalendarDay__default {
  position: relative;
}

.CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid red;
}

.CalendarDay__selected {
  background: #a60000;
  color: white;
  border-color: #800909;
}

.CalendarDay__selected:hover {
  background: #800909;
  color: white;
  border-color: #460707;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right-color: #a60000;
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
  border-right-color: #800909;
}

.SingleDatePicker_picker {
  z-index: 3;
}

.SingleDatePicker {
  width: 152px;
}

.DayPickerNavigation__verticalDefault_3 {
  display: flex;
}

.DayPickerNavigation__verticalDefault_3 > div {
  box-sizing: border-box;
  flex: 1 50%;
}

.mobile-calendar-container .CalendarDay__default {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.mobile-calendar-container .CalendarDay__default:hover {
  border: none;
  background-color: #fff;
}

.mobile-calendar-day {
  width: 15px;
  height: 15px;
  padding: 8px;
  margin: auto;
  border-radius: 50%;
  line-height: 15px;
}

.mobile-calendar-day-active {
  background-color: #a60000;
  color: white;
}
