.DayPickerNavigation__verticalDefault_3 {
  position: fixed !important;
  bottom: 0;
  display: flex;
}

.DayPickerNavigation__verticalDefault_3 > div {
  box-sizing: border-box;
  flex: 1 50%;
}

.mobile-calendar-container .CalendarDay__default {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.mobile-calendar-container .CalendarDay__default:hover {
  border: none;
  background-color: #fff;
}

.mobile-calendar-day {
  width: 30px;
  height: 30px;
  padding: 8px;
  margin: auto;
  border-radius: 50%;
  line-height: 15px;
}

.mobile-calendar-day-active {
  background-color: #a60000;
  color: white;
}

.z-low-mid {
  z-index: 99;
}
