.exercises-container {
  width: 300px;
  overflow: hidden;
  position: relative;
}

.exercises-container h2 {
  text-align: center;
}

.exercises-head {
  display: flex;
  flex-direction: column;
}

.exercise-search-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 2px;
  height: 25px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
  position: relative;
}

.exercise-search-container:focus-within {
  border-color: #a60000;
}

.exercise-search-container:focus-within svg circle {
  stroke: #a60000;
}

.exercise-search-container:focus-within svg rect {
  fill: #a60000;
}

.exercises-head input {
  padding: 0;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 0;
  background-color: inherit;
  width: 100%;
}

.exercise-search-container i {
  color: #a60000;
  position: absolute;
  font-size: 20px;
  top: 3px;
}

.exercise-muscle-group-btn {
  border: 1px solid rgb(167, 147, 147);
  border-radius: 3px;
  padding: 4px 8px 4px 16px;
  font-size: 16px;
}

.exercise-muscle-group-btn:hover {
  background-color: rgb(250, 241, 241);
}

.exercise-muscle-group-btn i {
  font-size: 24px;
  margin-left: 3px;
  margin-top: 3px;
  padding-top: 1px;
  height: 24px;
  box-sizing: border-box;
}

.exercise-muscle-checkbox-container {
  margin-top: 85px;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  border: 1px solid rgb(206, 191, 191);
  border-radius: 4px;
  /* box-shadow: -3px 1px 4px 1px rgba(0, 0, 0, 0.19); */
  position: fixed;
}

.exercise-muscle-group-filter-wrapper {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 200px;
}

.exercises-muscle-group-item {
  width: 100%;
  border: 1px solid silver;
  border-radius: 4px;
  margin: 5px 0;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.exercises-muscle-group-item-checked {
  border-color: rgb(105, 96, 96);
}

.exercises-muscle-group-item:hover {
  background-color: rgb(250, 245, 245);
}

.exercises-muscle-group-item i {
  width: 20px;
  font-size: 20px;
}

.exercises-body {
  overflow-y: scroll;
  max-height: 70vh;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(207, 192, 192);
}

.exercises-body::-webkit-scrollbar {
  width: 10px;
  z-index: 99;
}

/* Track */
.exercises-body::-webkit-scrollbar-track {
  background: #e4dddd;
  z-index: 99;
}

/* Handle */
.exercises-body::-webkit-scrollbar-thumb {
  background: #888;
  z-index: 99;
}

/* Handle on hover */
.exercises-body::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 87, 87);
}

.exercises-item {
  padding: 7px 10px;
  border-bottom: 1px solid rgb(207, 192, 192);
  border-left: 1px solid rgb(207, 192, 192);
  cursor: pointer;
  width: calc(100% - 1px);
  box-sizing: border-box;
}

.exercises-item:hover {
  background-color: rgb(250, 241, 241);
}

.exercises-item:last-child {
  border-bottom: 0;
}

.exercises-item i {
  visibility: hidden;
  border-radius: 99px;
  padding: 0 4px;
}

.exercises-item i:hover {
  background-color: rgb(218, 208, 208);
}

.exercises-item:hover i {
  visibility: visible;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* MODAL */
.web-exercises-add-exercise-modal {
  width: 200px;
}
