.exercises-container {
  width: 260px;
  position: relative;

  margin-top: 10px;
}

.exercises-container h2 {
  text-align: center;
}

.exercises-head {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(233, 220, 220);
}

.exercise-search-container {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  background-color: rgb(254, 250, 250);
  margin-bottom: 15px;
  position: relative;
  border-radius: 4px;
}

.exercise-search-container input {
  padding: 0;
  border: 0;
  outline: none;
  font-size: 14px;
  border-radius: 0;
  width: 100%;
}

.exercise-search-container:focus-within {
  border-color: #a60000;
}

.exercise-search-container svg circle {
  stroke: rgb(185, 173, 173);
}

.exercise-search-container svg rect {
  fill: rgb(185, 173, 173);
}

.exercise-search-container:focus-within svg circle {
  stroke: #a60000;
}

.exercise-search-container:focus-within svg rect {
  fill: #a60000;
}

.exercise-search-container i {
  color: #a60000;
  position: absolute;
  font-size: 20px;
  top: 3px;
}

.exercises-body-wrapper {
  background-color: rgb(253, 250, 250);
  border-radius: 4px;
  overflow: hidden;
}

.exercise-muscle-group-btn {
  border-radius: 3px;
  padding: 3px 8px 2px 6px;
}

.exercise-muscle-group-btn span {
  padding-bottom: 1px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 14px;
}

.exercise-muscle-group-btn:hover .exercises-web-filter-fill {
  fill: #1a1414;
}

.exercise-muscle-group-btn:hover .exercises-web-filter-stroke {
  stroke: #1a1414;
}

.exercise-muscle-group-btn:hover {
  background-color: rgb(255, 254, 253);
}

.exercise-muscle-checkbox-container {
  margin-top: 30px;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  border: 1px solid rgb(206, 191, 191);
  border-radius: 4px;
  position: fixed;
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

.exercise-muscle-checkbox-container-show {
  opacity: 1 !important;
  visibility: visible;
}

.exercise-muscle-group-filter-wrapper {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 200px;
  max-height: 220px;
  overflow-y: scroll;
}

.exercises-muscle-group-item {
  width: 100%;
  border: 1px solid silver;
  border-radius: 4px;
  margin: 5px 0;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.exercises-muscle-group-item-checked {
  border-color: rgb(105, 96, 96);
}

.exercises-muscle-group-item:hover {
  background-color: rgb(250, 245, 245);
}

.exercises-muscle-group-item i {
  width: 20px;
  font-size: 20px;
}

.exercises-body {
  overflow-y: scroll;
  max-height: 60vh;
}

.exercises-item {
  padding: 7px 10px;
  border-bottom: 1px solid rgb(207, 192, 192);
  cursor: pointer;
  width: calc(100% - 1px);
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.exercises-item:hover {
  background-color: rgb(255, 238, 228);
}

.exercises-item:last-child {
  border-bottom: 0;
}

.exercises-item button {
  visibility: hidden;
  border-radius: 99px;
  padding: 0 4px;
}

.exercises-item button:hover {
  background-color: rgb(218, 208, 208);
}

.exercises-item:hover button {
  visibility: visible;
}

.exercises-dropdown-container {
  position: fixed;
  margin-top: 10px;
}

/* MODAL */
.web-exercises-add-exercise-modal {
  width: 200px;
}
