/* NAV */
.edit-week-nav-arrow-btn {
  padding: 5px;
}

.edit-week-nav-week-btn {
  margin: 0 5px;
  padding: 8px 14px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 500;

  border-radius: 9999px;
}

.edit-week-nav-week-btn:hover {
  background-color: #a6000010;
}

.edit-week-container {
  display: flex;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.75);
}

.edit-week-header {
  text-align: center;
}

/* DAYS CONTAINER */

.edit-week-add-container {
  margin-top: 10px;
}

.edit-week-add-days-container {
  display: flex;
}
.edit-week-add-days-container button {
  width: 100%;
  padding: 2px;

  color: #a60000;
  border: 1px solid #a60000;
  border-left: 0;

  font-size: 14px;
  font-weight: 500;
}

.edit-week-add-days-container button:first-child {
  border-left: 1px solid #a60000;
}

.edit-week-day-active {
  color: white !important;
  background-color: #a60000;
}

.edit-week-add-muscle-group-container {
  margin: 10px 0;
}

.edit-week-add-container p,
.edit-week-add-container h3 {
  text-align: center;
  margin: 0;
}

.edit-week-add-container p {
  font-size: 12px;
  width: 402px;
}

.edit-week-add-header {
  display: flex;
  padding: 0 5px 0;

  color: #a60000;
  border-bottom: 1px solid #a60000;
}

.edit-week-exercise-row {
  width: 200px;
}

.edit-week-sets-row,
.edit-week-reps-row {
  display: flex;
  justify-content: center;
}

.edit-week-sets-row,
.edit-week-reps-row {
  width: 60px;
}

.edit-week-add-column {
  display: flex;
  padding: 5px;
}

.edit-week-add-column span {
  font-size: 14px;
}

.edit-week-add-column form {
  display: flex;
}

.edit-week-add-column input {
  width: 30px;
  text-align: center;
}

.edit-week-add-column select,
.edit-week-add-column input {
  border: 1px solid silver;
  border-radius: 2px;
}

/* EXERCISES */
.edit-week-exercise-container {
  margin-top: 10px;
}

.edit-week-exercise-container h2 {
  text-align: center;
}

.edit-week-exercise-head {
  display: flex;
  justify-content: space-between;

  border: 1px solid #a60000;
  border-radius: 3px;
  padding: 5px 8px;
  padding-right: 0;
}

.edit-week-exercise-head input {
  padding: 0;
  border: 0;
  /* outline-color: #a60000; */
  outline: none;
  font-size: 14px;

  border-right: 1px solid #a60000;
}
.edit-week-exercise-head select {
  border: 1px solid #a60000;
  border-bottom: 0;
}
.edit-week-exercise-head button {
  padding: 0;
  margin-left: 5px;
  border-radius: 0;
  display: flex;
  align-items: center;
  color: #a60000;

  font-weight: 500;
}

.edit-week-exercise-head button i {
  text-indent: -3px;
}

.edit-week-exercise-body {
  overflow-y: auto;
  max-height: 250px;
  background-color: rgb(250, 249, 249);

  margin-top: 10px;
  border: 1px solid #a60000;

  font-size: 13px;
  font-weight: 400;
}

.edit-week-exercise-body div:last-child {
  border-bottom: 0;
}

.edit-week-exercise-item {
  padding: 5px 10px;
  border-bottom: 1px solid silver;
  cursor: pointer;
}

.edit-week-exercise-item:hover {
  background-color: rgb(250, 241, 241);
}

/* TEST */
.edit-week-exercise-filter-container {
  display: flex;
  margin-top: 5px;
}

.edit-week-exercise-filter-container div {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.edit-week-exercise-filter-container span {
  text-align: center;
}

.edit-week-exercise-search-container {
  border-bottom: 1px solid #a60000;
}

/* ACTION MODALS */

/* Copy week */
.copy-week-weeks-container {
  margin-bottom: 30px;
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
}

.copy-week-item {
  margin: 2px;
  padding: 2px;
  cursor: pointer;
}

.copy-week-item-active {
  font-weight: 500;
}

.copy-week-confirm-btn {
  padding: 3px 8px;

  right: 10px;
  bottom: 10px;
  position: absolute;
}

/* Delete week */
.delete-week-btn-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.delete-week-btn-container button {
  padding: 3px 8px;
  border-radius: 99px;
}
