.edit-week-mobile-head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.edit-week-mobile-date-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  color: rgb(65, 55, 55);
}

.edit-week-mobile-date-btn > span {
  font-size: 12px;
  line-height: 11px;
}

.edit-week-mobile-date-btn div span {
  font-size: 24px;
}

.edit-week-mobile-date-btn div button,
.edit-week-mobile-date-btn div a {
  padding: 0 6px;
}

.edit-week-mobile-date-btn div a {
  display: flex;
}

.edit-week-mobile-date-container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

/* EXERCISE CARD */
.edit-week-mobile-add-card {
  width: 90%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(238, 227, 227);
}

.edit-week-mobile-add-card-active {
  border-color: #a60000;
}

.edit-week-mobile-add-card-active .history-exercise-name {
  background-color: #a60000;
  color: white;
}

.edit-week-mobile-add-card-active .history-exercise-name * {
  color: white;
}

.edit-week-mobile-card-body {
  position: relative;
  padding: 4px 0;
  font-family: "Oswald", sans-serif;
}

.edit-week-mobile-card-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 10px;
}

.edit-week-mobile-reps-wrapper {
  flex: 0.5 50%;
  justify-content: flex-end;
}

.edit-week-mobile-reps-btn {
  color: #7c6f6f;
  padding: 4px;
  background-color: rgb(243, 235, 235);

  border-radius: 2px;
}

.edit-week-mobile-reps-btn i {
  font-size: 20px;
}

.edit-week-mobile-reps-input-wrapper {
  position: relative;
  height: 22px;
  margin: 0 8px;
}

.edit-week-mobile-reps-input-wrapper input {
  height: 20px;
  padding: 0;
  width: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.edit-week-mobile-reps-input-wrapper .border-with-sides {
  margin-top: -3px;
}

.edit-week-mobile-reps-input-wrapper:focus-within .border-with-sides {
  border-color: #a60000;
}

.edit-week-card-rep-label {
  margin-left: 1px;
  font-size: 12px;
  color: #808080;
}

.edit-week-mobile-set-delete-btn {
  color: #a60000;
}

.height-20 {
  height: 20px;
}

/* TODO */
.history-mobile-days-wrapper {
  position: fixed;
  left: -100vw;
}

.history-mobile-days-box {
  position: relative;
  width: 300vw;
  display: flex;
}

.history-mobile-days-box > div {
  flex: 0.3333333;
}

.history-mobile-days-box-transition {
  transition: left 70ms ease;
}

.mobile-history-days-np-day {
  font-size: 24px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.edit-week-sub-nav-btn {
  width: 50px;
  height: 50px;
  padding: 0;
}

.edit-week-sub-nav-btn-filler {
  width: 50px;
  height: 50px;
}

.bc-8c1 {
  background-color: #8c1c1c;
}

.edit-week-sub-nav-container {
  transition: background-color 0.3s ease;
}

.edit-week-mobile-add-btn-container {
  position: fixed;
  z-index: 1999;
  top: calc(25px - 12.5px);
  right: 54px;
  height: 25px;
}
