.history-add-container {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.history-empty-log-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history-empty-log-btn-container button {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 9px;
  border-radius: 3px;
  align-items: center;
  flex-direction: column;
}

.history-empty-log-btn-container button span {
  color: gray;
  margin-top: 5px;
}

.history-big-screen-copy-btn {
  padding: 4px 9px;
  border-radius: 2px;
}

.history-big-screen-add-p {
  font-size: 13.3px;
}

.history-exercise-name {
  padding: 8px 10px 6px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a60000;
}

.history-exercise-name span {
  width: calc(100% - 100px);
  color: #472828;
  font-size: 15px;
}

.add-card-btn-container {
  display: flex;
}

.add-card-btn-container button {
  padding: 0;
  margin: 0 5px;
}

.add-card-remove-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card-remove-btn i {
  width: 24px;
  height: 24px;
  font-size: 20px;
}

.add-card-body {
  padding: 4px 0;
}

.history-add-card:first-child {
  margin-top: 0;
}

.history-add-card {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.add-card-column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 4px 20px 4px 4px;
}

.add-card-column button {
  padding: 2px;
}

.add-card-column button svg {
  color: transparent;
  transition: color 0.2s;
}

.add-card-column:hover svg {
  color: #a60000c0;
}

.history-set-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.history-set-row span {
  margin-left: 3px;
  font-size: 12px;
  color: gray;
}

.history-add-card select,
.history-add-card input {
  border: none;
  border-bottom: 1px solid #a60000;
  border-radius: 0;
}

.history-add-card input {
  width: 25px;
  height: 15px;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
