.history-add-container {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.history-empty-log-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history-empty-log-btn-container button {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 9px;
  border-radius: 3px;
  align-items: center;
  flex-direction: column;
}

.history-empty-log-btn-container button span {
  color: gray;
  margin-top: 5px;
}

.history-big-screen-copy-btn {
  padding: 4px 9px;
  border-radius: 2px;
}

.history-big-screen-add-p {
  font-size: 13.3px;
}

.history-exercise-name span {
  width: calc(100% - 75px);
  line-height: 15px;
  font-size: 17px;
}

.add-card-column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 4px 20px 4px 4px;
}

.add-card-column button {
  padding: 2px;
}

.add-card-column button svg {
  color: transparent;
  transition: color 0.2s;
}

.add-card-column:hover svg {
  color: #a60000c0;
}

.history-set-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.history-set-row span,
.history-set-row label {
  margin-left: 1px;
  font-size: 12px;
  color: gray;
}

.history-add-card input {
  width: 40px;
  height: 15px;
  text-align: end;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
}

.history-add-card input:focus {
  border-bottom: 1px solid #a60000;
}
