.calendar-circle-container {
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.calendar-circle-container svg {
  box-sizing: border-box;
  overflow: auto;
}

.calendar-circle-container > div {
  margin: 1px;
  display: flex;
  align-items: center;
  min-width: 6px;
  min-height: 6px;
}

/* EXERCISE TEXT */

.history-exercise-input-header {
  border-bottom: 1.5px solid #a60000;
  margin-bottom: 15px;
}

.history-exercise-text-row {
  display: flex;
  padding: 0 8px 5px 30%;
  justify-content: space-between;
}

.history-mobile-exercise-list-kg-reps {
  flex: 0.75 75%;
  justify-content: space-between;
}

.history-mobile-exercise-list-label-wrapper:first-child {
  display: flex;
  align-items: center;
  flex: 0.3 30%;
  justify-content: flex-end;
}

.history-mobile-exercise-history-body {
  padding-top: 10px;
}

.history-note-container {
  min-width: 350px;
}
