a {
  outline-style: none;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  touch-action: manipulation;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input,
textarea {
  border: 0;
  outline: none;
  border-radius: 3px;
  font-family: inherit;
  background-color: transparent;
  resize: none;
}
