main {
  width: 100%;
  background-color: rgb(251, 247, 247);
}

a {
  outline-style: none;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  border: 0;
  outline: none;
  border-radius: 3px;
  font-family: inherit;
}
