.settings-mobile-setting-container {
  max-width: 400px;
  margin: auto;
}

.settings-mobile-setting-header {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.settings-mobile-setting-label {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.custom-radio-long-container {
  cursor: pointer;
  justify-content: space-between;
}

.custom-radio-icon-container {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 9px;
  transition: background-color 0.2s;
}

.custom-radio-icon-container-pressed {
  background-color: #85090927;
}

.custom-radio-icon-box {
  max-width: 14px;
  max-height: 14px;
  min-width: 14px;
  min-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid gray;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.custom-radio-icon-box-checked {
  background-color: #a60000;
  border-color: #a60000;
}

.hidden-radio {
  height: 0;
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
}
