.history-mobile-exercise-header {
  border-bottom: 1px solid #e2d0d0;
  background-color: #fff;
}

.history-mobile-exercise-header-item {
  flex: 1 100%;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #a56e6e;
  margin-bottom: 2px;
}

.history-mobile-exercise-header-active {
  color: #a60000;
  border-bottom: 2px solid #a60000;
  margin-bottom: 0px !important;
}

.history-mobile-exercise-body {
  color: rgb(111, 91, 91);
  padding: 0 15px;
  max-width: 400px;
  margin: auto;
}

.history-mobile-exercise-input-wrapper {
  margin-top: 20px;
}

.history-mobile-exercise-input-box button {
  background-color: rgb(224, 215, 215);
  padding: 7px 14px;
  border-bottom: 0.5px solid rgb(158, 143, 143);
  border-radius: 2px;
}

.history-mobile-exercise-input-box button span,
.history-mobile-exercise-input-box button i {
  width: 24px;
}

.history-mobile-exercise-input-shiizz {
  position: relative;
  width: 90px;
  margin: 0 8px;
}

.history-mobile-exercise-input-shiizz:focus-within .border-with-sides {
  border-width: 1.2px;
  border-color: #a60000;
}

.history-mobile-exercise-input-box input {
  border: none;
  width: 100%;
  background-color: transparent;
  font-family: "Barlow", "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 800;
  outline: none;
  text-align: center;
  color: rgb(111, 91, 91);
}

.history-mobile-exercise-action-button {
  display: flex;
  width: 45%;
  height: 38px;
  color: white;
  border-radius: 3px;
  font-weight: 500;
  margin: 0 2%;
}

.history-mobile-exercise-list-container {
  margin-top: 15px;
}

.history-mobile-exercise-list-item {
  display: flex;
  border-bottom: 1px solid rgb(172, 156, 156);
  padding: 7px 15px;
}

.history-mobile-exercise-list-item-active {
  background-color: #ffd7d7;
}

.history-mobile-exercise-list-item-active i {
  color: #a60000 !important;
}

.history-mobile-exercise-list-item > div {
  display: flex;
  align-items: center;
}

.history-mobile-exercise-list-action-index {
  flex: 0.25 25%;
}

.history-mobile-exercise-list-action-index i {
  color: rgb(218, 208, 208);
  font-size: 20px;
  margin-top: 3px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.history-mobile-set-pending {
  opacity: 0.5;
  pointer-events: none;
}

.history-mobile-set-rejected {
  background-color: rgb(255, 152, 152);
  pointer-events: none;
}

.history-mobile-set-rejected-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
