/* MOBILE NAV */
.mobile-nav-calendar-container {
  width: 100vw;
  height: 6.5vh;
  margin-left: -45px;
  justify-content: space-between;
  background-color: #c81111;
  color: white;
}

.nav-track-back-btn span {
  align-items: center;
}
.nav-track-back-btn span {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.history-mobile-body-container {
  max-width: 500px;
}

.padding-15-r-40 {
  padding: 15px 40px 15px 15px;
}

.padding-15-l-40 {
  padding: 15px 15px 15px 40px;
}

/* VIEW */
.history-mobile-container {
  margin: 0 auto;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  overflow: visible;
}

.history-add-card-active {
  background-color: #f8d4d4 !important;
}

.history-mobile-selected-check-n-span-wrapper span {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.history-mobile-selected-check-n-span-wrapper button {
  margin-right: 13px;
}

.history-mobile-days-container {
  width: 100vw;
  background-color: rgb(251, 248, 248);
  overflow: hidden;
}

.mobile-history-empty-container {
  height: calc(100vh - 100px);
  top: 100px;
  width: 100vw;
  justify-content: space-between;
  padding: 10% 0 5%;
  box-sizing: border-box;
}

.mobile-history-empty-container button:first-child,
.mobile-history-empty-container a:first-child {
  margin-bottom: 20px;
}

.mobile-history-empty-container i {
  color: #a60000;
}

.mobile-history-empty-container span {
  margin-top: 5px;
  font-size: 14px;
}

.history-mobile-days-wrapper {
  position: fixed;
  left: -100vw;
}

.history-mobile-days-box {
  position: relative;
  width: 300vw;
  display: flex;
}

.history-mobile-days-box > div {
  flex: 0.3333333 100vw;
}

.history-mobile-days-box-transition {
  transition: left 70ms ease;
}

.mobile-history-days-np-day {
  font-size: 24px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
