/* MOBILE NAV */
.mobile-nav-calendar-container {
  width: 100vw;
  height: 6.5vh;
  margin-left: -45px;
  justify-content: space-between;
  background-color: #d90000;
  color: white;
}

.nav-track-back-btn span {
  align-items: center;
}
.nav-track-back-btn span {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.history-mobile-body-container {
  max-width: 500px;
}

/* VIEW */
.history-mobile-container {
  margin: 0 auto;
  height: 93vh;
  box-sizing: border-box;
  overflow: visible;
}

.history-add-card-active {
  background-color: #f8d4d4 !important;
}

.history-mobile-selected-check-n-span-wrapper span {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.history-mobile-selected-check-n-span-wrapper button {
  margin-right: 13px;
}
