/* MOBILE NAV */
.mobile-double-nav-container {
  display: flex;
  height: 14vh;
  flex-direction: column;
}

.mobile-double-nav-container > div {
  display: flex;
  align-items: center;
}

.mobile-end-container {
  justify-content: flex-end;
  height: 7.5vh;
}

.mobile-nav-calendar-container {
  width: calc(100vw + 1px);
  height: 6.5vh;
  margin-left: -45px;
  justify-content: space-between;
  background-color: #d90000;
  color: white;
}

.nav-track-back-btn span {
  align-items: center;
}
.nav-track-back-btn span {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.mobile-nav-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  padding-top: calc(3.5vh - 15px);
  padding-right: 5px;
}

/* VIEW */
.history-mobile-add-container p {
  text-align: center;
  margin-top: 40px;
}

.history-empty-log-btn-container {
  display: flex;
  flex-direction: column;
}

.history-empty-log-btn-container button {
  margin-bottom: 10px;
}

/* HISTORY */
.history-mobile-calendar-container {
  position: relative;
}

.history-mobile-calendar-container .CalendarDay__default {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.history-mobile-calendar-container .CalendarDay__default:hover {
  border: none;
  background-color: #fff;
}

.history-mobile-calendar-day {
  width: 15px;
  height: 15px;
  padding: 8px;
  margin: auto;
  border-radius: 50%;
  line-height: 15px;
}

.history-mobile-calendar-day-active {
  background-color: #a60000;
  color: white;
}

.DayPickerNavigation__verticalDefault_3 {
  display: flex;
}

.DayPickerNavigation__verticalDefault_3 > div {
  box-sizing: border-box;
  flex: 1 50%;
}

.history-mobile-empty-log-container {
  height: 87vh;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
