/* ACTION MODALS */

/* Copy week */
.copy-week-weeks-container {
  margin-bottom: 30px;
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
}

.copy-week-item {
  margin: 2px;
  padding: 2px;
  cursor: pointer;
}

.copy-week-item-active {
  font-weight: 500;
}

.copy-week-confirm-btn {
  padding: 3px 8px;

  right: 10px;
  bottom: 10px;
  position: absolute;
}
