/* COPY MODAL */
.edit-week-copy-week-selected-week-container {
  height: 50vh;
  overflow-y: auto;
  margin-top: 33px;
  padding-right: 10px;
  min-width: 250px;
}

.edit-week-mobile-copy-week-selected-week-container {
  margin-bottom: 49px;
}

.edit-week-copy-week-day-header {
  border-bottom: 1.5px solid #a60000;
  margin-bottom: 5px;
}

.edit-week-copy-select-week-wrapper {
  width: calc(100% - 20px);
  position: absolute;
}
