.mobile-nav {
  position: fixed;
  display: flex;
  padding: 0px 0px 0px 10px;
  height: 50px;
  width: 100%;
  z-index: 999;
  top: 0;
}

.mobile-nav-back-btn {
  height: 32px;
  width: 32px;
  display: flex;
  padding: 5px;
  font-size: 22px;
  box-sizing: border-box;
}

.mobile-nav-back-btn i {
  font-size: 22px;
}

.mobile-nav-text-span {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-left: 8px;
  font-weight: 700;
  color: white;
}

.mobile-nav-button-container {
  padding: 0 10px;
}

.mobile-nav-button-container > button {
  padding: 5px;
  margin: 0 5px;
}

.mobile-nav-menu-container {
  position: fixed;
  width: 200%;
  height: 100%;
  transition: all 0.2s;
}

.mobile-nav-menu-wrapper {
  width: 230px;
  background-color: #fff;
  height: 100%;
  padding-top: 10px;
  padding-left: 18px;
  box-sizing: border-box;
}

.mobile-nav-more-container {
  align-items: center;
  display: flex;
  color: #a60000;
}

.mobile-nav-header {
  width: 230px;
  background: #fff;
  margin-bottom: -1px;
}

.mobile-nav-header h1 {
  margin-right: 33px;
}

.mobile-nav-header i {
  margin-top: 6px;
  margin-right: 3px;
}
