.mobile-nav {
  position: fixed;
  display: flex;
  padding: 0px 0px 0px 15px;
  height: 50px;
  width: 100%;
  z-index: 999;
  top: 0;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.11);
}

.mobile-nav-menu-container {
  position: fixed;
  width: 200%;
  height: 100%;
  transition: all 0.2s;
}

.mobile-nav-menu-wrapper {
  width: 230px;
  background-color: #fff;
  height: 100%;
  padding-top: 10px;
  padding-left: 18px;
  box-sizing: border-box;
}

.mobile-nav-more-container {
  align-items: center;
  display: flex;
  color: #a60000;
}

.mobile-nav-main-btn {
  left: 10px;
  top: calc(25px - 17px);
  position: absolute;
}

.mobile-nav-back-btn {
  height: 22px;
  width: 22px;
  display: flex;
  padding: 5px;
  font-size: 22px;
  left: 10px;
  top: calc(25px - 16px);
  position: absolute;
}

.mobile-nav-back-btn i {
  font-size: 22px;
}

.mobile-nav-icon-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  padding-top: calc(25px - 16px);
  padding-right: 5px;
}

.mobile-nav-icon-container svg {
  max-height: 22px;
}

.mobile-nav-icon-container button,
.mobile-nav-icon-container a {
  min-height: 32px;
  margin-right: 7px;
}

.mobile-nav-header {
  width: 230px;
  background: #fff;
  margin-bottom: -1px;
}

.mobile-nav-header h1 {
  margin-right: 33px;
}

.mobile-nav-header i {
  margin-top: 6px;
  margin-right: 3px;
}
