/** Sidebar **/

.nav-container {
  width: 255px;
  position: relative;
}
.nav-wrapper {
  padding: 20px 20px 0 40px;
  height: 100%;
  position: fixed;
}

nav {
  position: relative;
}

nav section {
  padding: 0;
  display: flex;
  margin-top: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}

/* .nav-account-container {
  margin-top: 60px;
} */

.nav-header {
  margin: 0;
  color: #a60000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.nav-item {
  padding: 5px 0;
  border-radius: 9999px;
  width: 100%;
}

.nav-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
  border-radius: 999px;
  transition: background-color 0.1s ease;
}

.nav-item:hover .nav-item-wrapper {
  background-color: #a6000010;
}

.nav-item:hover .nav-span {
  color: #a60000;
}

.nav-fill {
  fill: #1a1414;
}

.nav-stroke {
  stroke: #1a1414;
}

.nav-item:hover .nav-fill {
  fill: #a60000;
}

.nav-item:hover .nav-stroke {
  stroke: #a60000;
}

.active .nav-fill {
  fill: #a60000;
}

.active .nav-stroke {
  stroke: #a60000;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.nav-span {
  font-weight: 700;
  font-size: 16px;
  color: #1a1414;
  padding-bottom: 0.5px;
  margin: 0 12px 0 15px;
  font-family: "Raleway", sans-serif;
}

.nav-sidebar-avatar-container {
  border-radius: 50%;
  position: relative;
  min-height: 25px;
  min-width: 25px;
  max-height: 25px;
  max-width: 25px;
  border: 1.5px solid #fff;
  overflow: hidden;
  box-sizing: content-box;
}

.nav-sidebar-avatar {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
}

.active .nav-sidebar-avatar-container {
  background-color: #a60000;
  border-color: #a60000;
}

.active .nav-span {
  color: #a60000;
}
