/** NAV HEADER **/

.header {
  height: 100vh;
  display: flex;
  z-index: 9;
  flex-direction: column;
  align-items: flex-end;
}

.header-logo-container {
  display: flex;
  padding-left: 15px;
  font-weight: 300;
}

.header-logo-container h1,
.header-logo-container span {
  font-weight: 300;
}

.mt-6 {
  margin-top: 6px;
}

.header-big-screen-icon {
  margin-right: 10px;
  font-size: 28px;
}
