/** NAV HEADER **/

.header {
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #a60000;
  box-shadow: inset -7px 0 20px -7px rgba(0, 0, 0, 0.11);
  background-color: white;
  z-index: 9;
}

.header-logo-container {
  min-width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header-logo-container i {
  margin-top: 6px;
}

.header-user {
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.header-name {
  font-size: 16px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}

.header-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #a600002d;
}

.header-big-screen-icon {
  margin-right: 5px;
}

.header-big-screen-logo {
  margin-right: 39px;
}

.header-small-screen-beta-text {
  margin-left: 22px;
  font-size: 10px;
}

.small-screen-dehaze-button {
  margin: 0 37px 0 20px;
}
