.plan-week-container {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  color: rgba(0, 0, 0, 0.748);
}

.plan-week-container h1 {
  font-size: 30px;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.15s;
}

.plan-week-container h1:hover {
  font-size: 30px;
  margin: 0;
  color: #a60000;
}

.plan-days-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.plan-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
}

.plan-day-container h2 {
  margin: 0;
}

.plan-day-container h3 {
  margin: 0;
  margin-bottom: 2px;
}

.plan-exercises-container {
  border-left: 2px solid #a60000;
}

.plan-exercise-container {
  position: relative;
  width: 320px;
  margin: 4px 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-exercise-container:first-child {
  margin-top: 0;
}

.plan-exercise-container:last-child {
  margin-bottom: 0;
}

.empty-week-text {
  margin: 0;
}

.empty-week-text span {
  color: #a60000;
  cursor: pointer;
}

.empty-week-text span:hover {
  text-decoration: underline;
}
