.plan-week-container {
  margin-top: 20px;
  position: relative;
}

.plan-week-container h1 {
  margin: 0;
  transition: color 0.15s;
}

.plan-text-week-header-link:hover {
  color: #d90000;
}

.plan-days-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.plan-day-container {
  margin: 0 10px 10px;
}

.plan-exercise-container {
  position: relative;
  max-width: 330px;
}

.plan-web-exercise-container {
  margin: 4px 0 4px 4px;
}

.plan-exercise-name {
  font-size: 15px;
}

.plan-exercise-container:first-child {
  margin-top: 0;
}

.plan-exercise-container:last-child {
  margin-bottom: 0;
}

.inline-block {
  display: inline-block;
}

.border-left-2-theme {
  border-left: 2px solid #a60000;
}
