/* BODY */
.plan-container {
  display: flex;
  flex-direction: column;
}

/* Overview */
.plan-overview-category-container {
  width: 100%;
}

.plan-overview-header-wrapper {
  text-align: center;
  padding: 7px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgb(233, 220, 220);
}

.plan-overview-arrow-icon {
  position: absolute;
  right: 9px;
  top: 6px;
  font-size: 24px;
}

.plan-overview-dropdown-content {
  padding: 10px 0;
  border-bottom: 1px solid rgb(233, 220, 220);
  position: relative;
}

.plan-overview-dropdown-content p {
  max-width: 80%;
}

.plan-overview-autho-container {
  display: flex;
  align-items: flex-start;
}

.plan-overview-autho-container img {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  margin-right: 3px;
}

.plan-overview-autho-container span {
  line-height: 1;
}

/* ACTION MODALS  */
.bs-activate-plan-cal-container {
  position: absolute;
  top: 75px;
}

.edit-plan-modal-form {
  width: 100vw;
  max-width: 400px;
}

.edit-plan-input-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.edit-plan-modal-radio-container {
  display: flex;
  justify-content: space-around;
}

.plans-web-empty-add-btn {
  padding: 4px 9px;
  border-radius: 2px;
}

.purchase-plan-container {
  background-color: rgb(252, 252, 252);
  width: 200px;
  margin-top: 80px;
  padding: 15px;
  border-radius: 3px;
  font-family: "Raleway";
  position: relative;
}

.purchase-plan-name {
  color: #a60000;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.purchase-plan-price {
  color: #5a4e4e;
  margin: 0;
  font-size: 18px;
}

.purchase-plan-button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  color: #3a3131;
  font-size: 20px;
  border: 1px solid #bba1a1;
  font-weight: 300;
}

.purchase-plan-button:hover {
  background-color: rgb(255, 233, 233);
}

.plan-week-container-no-access {
  filter: blur(5px);
}
