/* OVERVIEW */

.plan-name {
  text-align: center;
  margin: 0px;
  font-weight: 400;
}

.plan-author-container {
  display: flex;
  position: absolute;
  top: 100px;
  left: 300px;
}

.plan-author-container div {
  margin-left: 2px;
  margin-top: -4px;
}

.plan-author-label {
  font-size: 14px;
  font-weight: 500;
}

.plan-author-uname {
  margin-top: 50px;
}

.plan-author-container img {
  width: 34px;
  height: 34px;

  border-radius: 50%;
}

.plan-description-label {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.plan-description {
  margin: 0;
  text-align: center;
}

/* BODY */
.plan-week-container button {
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
}

/* ACTION MODALS  */
.add-weeks-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.add-weeks-form div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-weeks-form input {
  width: 10%;
  text-align: center;
  margin-left: 10px;

  border-radius: 2px;
  border: 1px solid silver;
}

.add-weeks-form button {
  padding: 2px 12px;
}

/* ACTIVATE PLAN */
.activate-plan-span {
  color: #353232;
  font-weight: 300;
  font-size: 14px;
}

.activate-plan-date {
  color: #a60000;
  font-weight: 300;
  margin: 0;
  font-size: 30px;
}

.bs-activate-plan-cal-contaioner {
  position: absolute;
  top: 70px;
}
